{% extends "layouts/base.html" %}

{% block title %} ask-pipkin.com {% endblock %}
{% block main %}  
      <div class="d-flex gap-3 align-items-center">
        <h1>New Questions </h1>
        <a href="/hot">Hot Questions</a>
      </div>
      <div class="row">
        <div class="col-8">
          {% for question in questions %}
          <article class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-3 p-2">
                <div
                  class="border w-100 mb-3 overflow-hidden"
                  style="height: 100px"
                >
                  <img
                    src="{{ question.avatar }}"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <input
                    type="number"
                    value="{{ question.likes }}"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url "question" question.id %}">{{ question.title }}</a>
                  </h5>
                  <p class="card-text">
                    {{ question.text }}
                  </p>
                  <div class="row">
                    <a
                      class="col-4"
                      href="{% url "question" question.id %}"
                    >{{ question.answers }}</a>
                    <div class="col-8">
                      <span>Tags:</span>
                      {% for tag in question.tags %}
                        <a href="{% url "tag" tag.name %}">{{ tag.name }}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
          

        {% include 'layouts/pagination.html' %}
        {% include 'layouts/popular.html' %}
        
    {% endblock %}