{{authed}}
{% if authed %}
<div class="border">
  <img
    src="../static/img/alter_avatar.jpg"
    alt="Avatar"
    width="50"
    height="50"
  />
</div>
<div class="d-flex flex-column justify-content-between">
  <div>{{user.nickmame|default:"Dr. Pepper"}}</div>
  <div>
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'logout' %}">Log out</a>
  </div>
</div>
{% else %}
<div class="d-flex flex-column justify-content-between">
  <div>
    <a href="{% url 'login' %}">log in</a>
    <a href="{% url 'signup' %}">sign up</a>
  </div>
</div>
{% endif %}