<div class="col-4">
    <h3>Popular Tags</h3>
    <div class="row">
      <div class="col">
        <a href="/tag/perl"><span class="badge text-dark">perl</span></a>
        <a href="/tag/Python"><span class="badge text-danger">Python</span></a>
        <a href="/tag/TechnoPark"><span class="badge text-dark">TechnoPark</span></a>
        <a href="/tag/MySQL"><span class="badge text-danger">MySQL</span></a>
        <a href="/tag/django"><span class="badge text-success">django</span></a>
        <a href="/tag/Mail.ru"><span class="badge text-dark">Mail.ru</span></a>
        <a href="/tag/Voloshin"><span class="badge text-dark">Voloshin</span></a>
        <a href="/tag/Firefox"><span class="badge text-warning">Firefox</span></a>
      </div>
    </div>
    <h3 class="mt-5">Best Members</h3>
    <div>
      <a
        href="/member.html"
        class="d-block"
      >
        Mr. Freeman
      </a>
      <a
        href="/member.html"
        class="d-block"
      >
        Dr. House
      </a>
      <a
        href="/member.html"
        class="d-block"
      >
        Bender
      </a>
      <a
        href="/member.html"
        class="d-block"
      >
        Queen Victoria
      </a>
      <a
        href="/member.html"
        class="d-block"
      >V. Putin</a>
    </div>
  </div>
</div>